:host {
  /*border: 1px ridge #333;
  border-radius: 10px;*/
  display: block;
  padding: 10px;
}

img {
  max-width: 100%;
}
.product-img {
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
