<mat-horizontal-stepper>
  <mat-step>

    <ng-template matStepLabel>Sus productos</ng-template>

    <div *ngIf="(products$ | async ) as products">
      <p *ngIf="products.length === 0">No hay productos en el carrito</p>

      <mat-card>
        <div class="row" *ngFor="let product of (products | removeDoubleProducts)">
          <!--renderiza sin duplicados-->
          <div *ngIf="(1 | countingProducts: product:products) as count">
            <br>
            <mat-card-header>

              <img mat-card-avatar class="image" [src]="product.image" alt="">
              <mat-card-title>

                {{ product.title }} </mat-card-title>


              <mat-card-subtitle>{{ product.price * count | currency }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <button mat-mini-fab color="primary" class="quantity-button" (click)="addCart(product)"> + </button>

              <button mat-mini-fab color="primary" class="quantity-button" [disabled]="count===1"
                (click)="remove(product.id)"> - </button>

                <label class ="countLabel "> <strong>({{ 1 | countingProducts: product:products }})</strong></label>


            </mat-card-content>

            <mat-card-actions>
              <button mat-button color="primary" (click)="removeFromCart(product.id)">Eliminar</button>
            </mat-card-actions>
          </div>
          <!--este es el de counting cierre-->
          <mat-divider></mat-divider>

        </div>
      </mat-card>
      <div *ngIf="products.length !== 0">
        <mat-divider></mat-divider>
        <h2>Total: {{ totalAmount() | currency }}</h2>
      </div>


    </div> <!-- cierra el ngIf products async-->

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Datos personales</ng-template>
    <h1>contenifo</h1>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pago</ng-template>
    <h1>contenifo</h1>
  </mat-step>

</mat-horizontal-stepper>
