<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Sus productos</ng-template>
    <div *ngIf="(products$ | async ) as products">
        <p *ngIf="products.length === 0">No hay productos en el carrito</p>


        <div class="row" *ngFor="let product of (products | removeDoubleProducts)"> <!--renderiza sin duplicados-->

          <div *ngIf="(1 | countingProducts: product:products) as count">
          <div class="col-xs-12 col-sm-2 col-md-2">
            <div class="box">
              <img class="image" [src]="product.image" alt="">
            </div>
          </div>

          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="box">
              {{ product.title }}  ({{ 1 | countingProducts: product:products }}) <!-- se cuentan repetidos, default 1-->
            </div>
          </div>

         <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="box">
              {{ product.price }}
            </div>
          </div>

          <div>
            <button mat-mini-fab color="primary"class="quantity-button" (click)="addCart(product)"> + </button>
            <button mat-mini-fab color="primary"class="quantity-button" [disabled]="count===1"
              (click)="remove(product.id)"> - </button>

          </div>
        </div> <!--este es-->

        </div>
    </div>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Datos personales</ng-template>
    <h1>contenifo</h1>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pago</ng-template>
    <h1>contenifo</h1>
  </mat-step>
</mat-horizontal-stepper>
