<form [formGroup]="form" (ngSubmit)="createProduct($event)">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Product</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder = "id" formControlName="id" matInput type="text">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder = "title" formControlName="title" matInput>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder = "price" formControlName="price" matInput type="number">
          </mat-form-field>
          <div *ngIf="priceField?.errors && priceField?.dirty"> <!--Literalmente dice espere a que el User escriba y SINO saque error-->
            <mat-error *ngIf="priceField?.hasError('required')">Este campo es requerido</mat-error>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <textarea  placeholder = "description" formControlName="description" matInput></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <!--Barra de progreso-->
          <p id="barraProgreso"></p>
          <mat-progress-bar id="progressBar" mode="determinate" value="progress"></mat-progress-bar>

          <!--URL en la base de datos para luego subir al ARR de products-->
          <textarea hidden  placeholder = "image" id="image" formControlName="image">VACIO</textarea>
            <!--ARCHIVO de la imagen que se va subir-->
           Imagen: <input type="file" placeholder = "imageFile" (change)="uploadFile($event)"  alt ="Seleccionar Imagen" >

        </div>
      </div>

    </mat-card-content>

    <mat-card-actions>
        <button [disabled]="form.invalid" mat-raised-button type="submit">Guardar</button>

    </mat-card-actions>
  </mat-card>
</form>


