<a mat-raised-button routerLink="create">Crear Producto
  <mat-icon>add_circle</mat-icon>
</a>
  <table mat-table [dataSource]="products" class="mat-elevation-z8 products-table">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let product"> {{product.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let product"> {{product.title}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let product"> {{product.price}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let product">
     <button class="tooltip" mat-raised-button [routerLink]="['edit',product.id]">
      <span class="tooltiptext">Editar</span>
       <mat-icon>edit</mat-icon>
      </button>
      <button class ="tooltip" mat-raised-button color="warn" (click)="deleteProduct(product.id)" alt="Eliminar">
        <mat-icon>delete</mat-icon>
        <span class="tooltiptext">Borrar</span>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
