.box{
  text-align: left;
  /*border: 1px solid black;*/
  border-radius: 10%;
  padding: 30px;
  background: rgba(63, 81, 181,.1);

}

.emailField{
  width: 100%;

}
.pwField{
  width: 100%;

}

.nextbtn{
  display: block;
  margin: auto;

}


@media (min-width: 450px) {
  .col-xs {
    max-width: 40%;
  }
}


