<form [formGroup]="form" (ngSubmit)="register($event)">

  <mat-card>

    <div class="main">
      <div class="row center-xs">
        <div class="col-xm">
          <div class="box">

            <mat-card-title>Crea una cuenta</mat-card-title>
            <br>

            <div>
              <mat-form-field appearance="fill" class="emailField">
                <mat-label>Enter your email</mat-label>
                <input id="email" formControlName="email" matInput placeholder="pat@example.com" [pattern]="emailPattern" required>
                <div *ngIf="emailField?.errors && emailField?.dirty && emailField?.touched"><!--Literalmente dice espere a que el User escriba y SINO saque error-->
                  <mat-error *ngIf="emailField?.hasError('pattern')">Digite un email valido</mat-error>
                  <mat-error *ngIf="emailField?.hasError('required')">Este campo es requerido</mat-error>
                </div>

              </mat-form-field>
            </div>

            <div>

              <mat-form-field appearance="fill" class="pwField">
                <mat-label>Enter your password</mat-label>

                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required>
                <div *ngIf="passwordField?.errors && passwordField?.dirty"><!--Literalmente dice espere a que el User escriba y SINO saque error-->
                  <mat-error *ngIf="passwordField?.hasError('required')">Este campo es requerido</mat-error>
                  <mat-error *ngIf="passwordField?.hasError('minlength')">Mínimo 6 caracteres</mat-error>
                </div>

                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <br>

            </div>
            <br>
            <button class="nextbtn" mat-raised-button type="submit">Registro</button>

          </div>
        </div>
      </div>

    </div>
    <!--cierra DIV GRAL-->

  </mat-card>

</form>
